.Testimonials{
padding: 10px;
background-color: #f5f5f5; 
}
.h1{
padding: 10px;
border: none;
background-color: #f5f5f5; 
}
.h2{
front-style: normal;
}
.h3{
front-style: normal;
}	
.p{
text-align: right;
front-style: italic;
}
